/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Averta";
  src: local("Averta"), url(assets/fonts/Averta-Regular.otf) format("truetype");
  font-display: swap;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Averta", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

// .navbar-default,
// .nav,
// nav,
// header {
//   border: 0;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }
