<div class="container-fluid">
    <section>
        <div class="hero-section">
            <h3 class="hero-title">Welcome to Our Image Search Engine</h3>
        </div>
    </section>
    <section>
        <div class="container project-brief">
            <div class="brief">
                <div class="brief-header">
                    <h3>Our goal</h3>
                </div>
                <div class="brief-text">
                    <p>Develop a web application, with Flask as a server, that allows us to implement a content-based image indexing and search system.</p>
                </div>
            </div>
            <div class="brief">
                <div class="brief-header">
                    <h3>What we've done</h3>
                </div>
                <div class="brief-text">
                    <p>Develop a web application, with Flask as a server, that allows us to implement a content-based image indexing and search system.</p>
                </div>
            </div>
            <div class="project-team">
                <h4 class="team-header">Our Team</h4>
                <div class="team">
                    <span>El KHATAB Bilal</span>
                    <span>CHIBOUB Mehdi</span>
                    <span>El AMRI Soufiane</span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="feature">
            <div class="feature-image"></div>
            <div class="feature-content">
                <h3 class="feature-header">Content-based image search system</h3>
                <p class="feature-text">Learn More. Take a look and try our search engine right now.</p>
                <button routerLink="/search" class="btn see-more">see more</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-text">
            <p>Copyright <i class="far fa-copyright"></i> 2021. All Rights Reserved.</p>
        </div>
    </footer>
</div>